.container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    border: groove;
    width: 100%; 
    margin: 0 auto;
    background-color: #f0f8ff
  }
  
  .sub-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    width: 450px; 
    padding: 20px;
  }
  
  .title {
    margin-top: 0px;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
   
  label {
    display: inline-block; 
    width: 140px; 
    margin-bottom: 5px; 
    text-align:right;
  }
  
  .input{
    
    margin-left: 5px;
  }
  input {
    flex: 1; 
    width:190px;
    padding: 0px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:30px;
  }
  
  .b1 {
    width: 150px;
    height: 35px;
    margin: 20px 0;
    background-color: #28a745;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    
  }
  
  .b1:hover {
    background-color: #48d268;
  }
  
  img {
    width: 90px;
    margin-bottom: 0px;
  }
  
  .link, .login-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover, .login-link:hover {
    text-decoration: underline;
  }
  